@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

body {
  background-color: #bcd57b;
}

button {
  cursor: pointer;
}

.start-level {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgb(13, 11, 8);
  color: rgb(45, 102, 151);
  gap: 10px;
}
.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.start-level-btn {
  width: 250px;
  height: 100px;
  font-size: 30px;
  border-radius: 30px;
  color: rgb(45, 102, 151);
}
.start-level-rotate {
  width: 250px;
  height: 100px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px dashed gainsboro;
  color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-img {
  width: 20px;
}
.grid-field-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: none;
  flex-wrap: wrap;
  width: 1520px;
  height: 680px;
  border: 1px solid black;
  /*background-image: url("images/field.png");*/
  background-color: rgb(20, 164, 73);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 5px;
  margin: 7px;
}
/* Sakri scrollbar*/
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Sakri scrollbar*/
.grid div {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #92cd00;
  border-bottom: 3px solid #2c6700;
  border-top: 3px solid #2c6700;
  font-size: 20px;
}
.home {
  cursor: pointer;
  font-size: 20px;
}
/* 
.logo {
  background: url("../images/buggslogo.png");
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
*/
.timer,
.enemy-score,
.hostage-score {
  width: 80px;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
  background-color: rgb(53, 159, 53);
  color: #fff;
  cursor: pointer;
}

.authorlogo {
  background: url("../images/authorlogo.png");
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

.authortext {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.next-level {
  width: 200px;
  background-color: rgb(34, 148, 76);
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 18px;
}
.play-again {
  width: 200px;
  background-color: rgb(34, 148, 76);
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 18px;
}
.play-again:hover {
  opacity: 0.5;
}

.hero-right {
  background-image: url("../images/hero-r.png");
  background-size: cover;
}
.hero-left {
  background-image: url("../images/hero-l.png");
  background-size: cover;
}

.enemy1 {
  background-image: url("../images/tazz.png");
  background-size: cover;
}

.enemy2 {
  background-image: url("../images/duffyduck.png");
  background-size: cover;
}

.enemy3 {
  background-image: url("../images/sylvester.png");
  background-size: cover;
}

.enemy4 {
  background-image: url("../images/coyote.png");
  background-size: cover;
}

.wall {
  opacity: 0.8;
}

.object1 {
  background-image: url("../images/crate.png");
  background-size: cover;
}

.object2 {
  background-image: url("../images/stone.png");
  background-size: cover;
}

.object3 {
  background-image: url("../images/rock.png");
  background-size: cover;
}

.object4 {
  background-image: url("../images/rock2.png");
  background-size: cover;
}

.object5 {
  background-image: url("../images/tree1.png");
  background-size: cover;
}

.object6 {
  background-image: url("../images/tree2.png");
  background-size: cover;
}

.object7 {
  background-image: url("../images/tree3.png");
  background-size: cover;
}

.hostage {
  background-image: url("../images/hostage.png");
  background-size: cover;
}

.weapon {
  background-image: url("../images/bullet.png");
  opacity: 0.8;
  background-size: cover;
}

.mob-controls {
  display: none;
}

@media (min-width: 240px) and (max-width: 600px) and (min-height: 480px) and (max-height: 1024px) and (orientation: portrait) {
  .nav {
    display: none;
    height: 10vh;
  }

  .start-level-image {
    width: 160px;
  }

  .goals {
    font-size: 14px;
  }
  .start-level {
    flex-direction: column;
    height: 90vh;
  }

  .goals {
    width: 250px;
  }

  .goals > p {
    display: none;
  }

  .start-level-btn {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 1024px) and (min-height: 240px) and (max-height: 600px) and (orientation: landscape) {
  .start-level-image {
    width: 150px;
  }
  .start-level-rotate {
    display: none;
  }
  .goals {
    width: 250px;
    font-size: 12px;
  }
  .mob-controls {
    display: none;
    justify-content: space-around;
    align-items: center;
  }
  .mob-controls-move {
    display: grid;
  }
  .move {
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: grid;
    gap: 1px;
    justify-items: center;
    opacity: 0.4;
    border-radius: 22px;
    padding: 4px;
    align-items: center;
    background-color: rgb(153, 191, 101);
  }
  .shoot {
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: grid;
    background-color: rgb(214, 100, 100);
    align-content: center;
    border-radius: 4px;
    opacity: 0.4;
    width: 80px;
    height: 60px;
  }
  .move-btn {
    height: 30px;
    width: 30px;
  }
  .move-btn-wide {
    height: 29px;
    width: 36px;
  }
  .center-btn {
    opacity: 0;
  }

  body {
    display: grid;
    align-content: center;
    justify-content: center;
  }
  .nav {
    width: 100vw;
    font-size: 10px;
    height: 20px;
    border: 1px solid black;
  }

  .logo {
    width: 25px;
    height: 25px;
  }

  .author {
    padding: 2px;
    height: 15px;
    width: 250px;
  }
  .authorlogo {
    width: 14px;
    height: 14px;
  }

  .authortext {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .play-again {
    width: 80px;
    font-size: 7px;
  }
  .grid {
    flex-wrap: wrap;
    width: 646px;
    height: 289px;
    border: 1px solid black;
    /*background-image: url("images/field.png");*/
    background-color: rgb(20, 164, 73);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 5px;
    margin: 7px;
  }
  /* Sakri scrollbar*/
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* Sakri scrollbar*/
  .grid div {
    width: 17px;
    height: 17px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
}

@media screen and (max-width: 1279px) and (min-width: 769px) {
}

@media screen and (min-width: 1280px) {
}

@media (min-width: 601px) and (max-width: 835px) and (min-height: 960px) and (max-height: 1366px) and (orientation: portrait) {
  .nav {
    display: none;
    height: 10vh;
  }

  .start-level-image {
    width: 160px;
  }

  .goals {
    font-size: 14px;
  }
  .start-level {
    flex-direction: column;
    height: 90vh;
  }

  .goals {
    width: 250px;
  }

  .goals > p {
    display: none;
  }

  .start-level-btn {
    display: none;
  }
}
@media (min-width: 960px) and (max-width: 1366px) and (min-height: 601px) and (max-height: 835px) and (orientation: landscape) {
  .start-level-image {
    width: 150px;
  }
  .start-level-rotate {
    display: none;
  }
  .goals {
    width: 250px;
    font-size: 12px;
  }
  .mob-controls {
    display: none;
    justify-content: space-around;
    align-items: center;
  }
  .mob-controls-move {
    display: grid;
  }
  .move {
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: grid;
    gap: 1px;
    justify-items: center;
    opacity: 0.4;
    border-radius: 22px;
    padding: 4px;
    align-items: center;
    background-color: rgb(153, 191, 101);
  }
  .shoot {
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: grid;
    background-color: rgb(214, 100, 100);
    align-content: center;
    border-radius: 4px;
    opacity: 0.4;
    width: 140px;
    height: 100px;
  }
  .move-btn {
    height: 48px;
    width: 76px;
  }
  .move-btn-wide {
    height: 49px;
    width: 76px;
  }
  .center-btn {
    opacity: 0;
  }

  body {
    display: grid;
    align-content: center;
    justify-content: center;
  }
  .nav {
    width: 100vw;
    font-size: 10px;
    height: 20px;
    border: 1px solid black;
  }

  .logo {
    width: 25px;
    height: 25px;
  }

  .author {
    padding: 2px;
    height: 15px;
    width: 250px;
  }
  .authorlogo {
    width: 14px;
    height: 14px;
  }

  .authortext {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .play-again {
    width: 80px;
    font-size: 7px;
  }
  .grid {
    flex-wrap: wrap;
    width: 1140px;
    height: 510px;
    border: 1px solid black;
    /*background-image: url("images/field.png");*/
    background-color: rgb(20, 164, 73);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 5px;
    margin: 7px;
  }
  /* Sakri scrollbar*/
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* Sakri scrollbar*/
  .grid div {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 1340px) and (max-width: 1396px) and (min-height: 790px) and (max-height: 835px) and (orientation: landscape) {
  .grid {
    width: 1292px;
    height: 578px;
  }

  .grid div {
    width: 34px;
    height: 34px;
  }
}
